Xft.dpi: 192

!! Colorscheme

! color scheme is from terminal.sexy  -> xcolors.net -> euphrasia. terminal color is just black

! special
*.foreground:   #ffffff
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! black
*.color0:       #192033
*.color8:       #666666

! red
*.color1:       #a62a3e
*.color9:       #f04758

! green
*.color2:       #38912b
*.color10:      #93c724

! yellow
*.color3:       #b27d12
*.color11:      #ddb62b

! blue
*.color4:       #355c9a
*.color12:      #45a3e6

! magenta
*.color5:       #7c4f9f
*.color13:      #c953ef

! cyan
*.color6:       #258f8f
*.color14:      #60c6c8

! white
*.color7:       #77858c
*.color15:      #c0c0c0

!! URxvt Appearance
URxvt.font:     xft: Source Code Pro:style=Thin:size=11,xft:DejaVu Sans:size=11
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
!URxvt.internalBorder: 24
URxvt.internalBorder: 4
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depxh: 24
URxvt.iso14755: false

!! URxvt Functions
URxvt.perl-ext-common: font-size
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.C-j:       perl:font-size:increase
URxvt.keysym.C-k:       perl:font-size:decrease

URxvt.perl-ext-common:  resize-font,

